    <script src="/bundle.js"></script>
    <footer>
      <div>
        <ul>
          <li><h4> Team Glow: </h4></li>
          <li><a href='https://github.com/alexse5121'>Alex Sergides</a></li>
          <li><a href='https://github.com/SimonBao'>Simon Bao</a></li>
          <li><a href='https://github.com/Leigan0'>Leigh-ann Gant</a></li>
          <li><a href='https://github.com/samuelmaker'>Samuel Wood</a></li>
          <li><a href='https://github.com/philb56'>Phil Bugden</a></li>
          <li><a href='https://github.com/AttyC'>Atty Cronin</a></li>
        </ul>
      </div>
      <div>
        <p>Icons made by <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p>
      </div>
    </footer>
  </body>
</html>
