.jumbotron {
  margin: 4em;
  text-align: center;
  line-height: 2em;
  background: none;
}
.jumbotron h1 {
  margin: auto;
}
.jumbotron h3 {
  text-align: right;
  padding: 1.2em;
}
.home-image {
  width: 100px;
}
.network {
  float: right;
}
.rocket {
  float: left;
}
