html {
  min-height: 100%;
}
body {
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  color: #F0FFCE;
  width: 100%;
  background-repeat:no-repeat;
  background: -webkit-linear-gradient(50deg, #350014 45%, #d42713 35%) fixed;
  background: -moz-linear-gradient(50deg, #350014 45%, #d42713 35%) fixed;
  background: -ms-linear-gradient(50deg, #350014 45%, #d42713 35%) fixed;
  background: -o-linear-gradient(50deg, #350014 45%, #d42713 35%) fixed;
  background: linear-gradient(50deg, #350014 45%, #d42713 35%) fixed;
}
.App {
  width : 700px;
  padding: 3em;
}
h1, label {
  color: #F0FFCE;
  text-align: center;
}
.logo {
  background: url(/img/dinder0.png) no-repeat;
  height: 100px;
}
.nav>li>.logo:focus, .nav>li>.logo:hover {
  background: url(/img/dinder0.png) no-repeat;
  color: #05A8AA;
}
ul.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

ul.nav li a {
  color: #F0FFCE;
  font-size: 1.6em;
}
.nav>li>a:focus, .nav>li>a:hover {
  background: none;
  /* color: #05A8AA; */
  color: #2274A5;
}

.NotFound {
  padding-top: 100px;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
}
footer a {
  color: #2274A5;
  font-size: 0.8em;
}
